<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shileiyu.baseapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".common.base.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.BootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.greendao.GreenDaoActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.waterfall.WaterfallActivity" />
        <activity android:name=".ui.glide.GlideActivity" />

        <meta-data
            android:name="com.shileiyu.baseapp.ui.glide.GlideModuleImpl"
            android:value="GlideModule" />

        <activity android:name=".ui.calendar.CalendarActivity" />
        <activity
            android:name=".ui.lagou.LaGouActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.viewmodel.ViewModelActivity" />
        <activity android:name=".ui.greendao.DbUpgradeActivity" />
        <activity android:name=".ui.ocr.OcrActivity" />
        <activity android:name=".ui.ucrop.UCropWrappActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- ARouter -->
        <activity android:name=".ui.arouter.ARouterActivity">

            <!-- Schame -->
            <intent-filter>
                <data
                    android:host="m.yushilei.com"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="m.yushilei.com"
                    android:scheme="https" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="m.yushilei.com"
                    android:scheme="myscheme" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.arouter.RouterTestActivity" />
        <activity android:name=".ui.matrix.MatrixActivity" />
        <activity android:name=".ui.filter.MyFilterActivity" />
        <activity android:name=".ui.ExpandTextViewActivity" />
        <activity android:name=".ui.WebListActivity" />
        <activity android:name=".ui.WebActivity"></activity>
    </application>

</manifest>